.bar{
    height:34px;
    width: 487px;
    display: block;
    border:  1px solid;
    border-radius: 15px;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.submit{
    margin-top: 20px;
    height: 36px;
    width: 150px;
    border-radius: 15px;
}
.header{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
#images{
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: hotpink;
}