.bar{
    height:34px;
    width: 487px;
    display: block;
    border:  1px solid;
    border-radius: 15px;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.submit{
    margin-top: 20px;
    height: 36px;
    width: 150px;
    border-radius: 15px;
}
.header{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
#images{
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: hotpink;
}


/**advanced search **/
.links{
    margin-left: 90%;
    margin-top: 20px;
}

.word{
    width: 100%;
    margin:80px auto auto 30px;
}
.word>p{
    color: #d93025;
    font-family: arial,sans-serif;
    font-size: 20px;
}
.bbutton{
    border: 1px solid #ebebeb;
    margin-top: 30px;
}
.find{
    margin-top: 40px;
    margin-left: 30px;
}
.find>p{
    
    font-size: 18px;
    color: #333;
    font-weight: 500;
    font-family: arial,sans-serif;
}
table{
    margin-left: 30px;
    border-collapse:separate; 
    border-spacing: 0 15px;
}
td>input{
    height: 25px;
    width: 600px;
    margin-left: 20px;
    margin-right: 20px;
}
.rightw{
    font-size: 13px;
    font-family: arial,sans-serif;
}
.leftw{
    font-size: 13px;
    font-family: arial,sans-serif;
}
.subadvanced{
    margin-left: 53%;
    background-color: #4d90fe;
    height: 30px;
    padding: 0 12px;
    border: 1px solid #3079ed;
    color: #fff;
}
